# lesson2 HW

<pre> 
1.  Write a program that receives a sentence from the user (assume it is at least 50 characters long) and prints the following:
The first 8 characters
The last 6 characters
Every third character
The first quarter of the string
The string in uppercase letters
the string is reversed
</pre>

In [10]:
userSentence = input("enter sentence")
print("The first 8 characters is: ",userSentence[:8])
print("The last 6 characters is: ",userSentence[-6:len(userSentence)])
print("Every third character is: ",userSentence[::3])
print("The first quarter of the string is: ",userSentence[:(len(userSentence)//4)])
print("The string in uppercase letters is: ",userSentence.upper())
print("the string is reversed is: ",userSentence[::-1])

enter sentenceenter sentence hi every body my name is tamar
The first 8 characters is:  enter se
The last 6 characters is:   tamar
Every third character is:  eestcherbyya  m
The first quarter of the string is:  enter sente
The string in uppercase letters is:  ENTER SENTENCE HI EVERY BODY MY NAME IS TAMAR
the string is reversed is:  ramat si eman ym ydob yreve ih ecnetnes retne

<pre> 2. Write a program to count the number of characters (character frequency) in a string. 
Sample String : google.com'
Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
</pre>

In [24]:
str = 'google.com'
d={}
for i in str:
    d[i] = str.count(i)
    
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

<pre>
3.  Write a program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead. 
Sample String : 'python'
Expected Result : 'pyon'
Sample String : 'py’'
Expected Result : 'pypy'
Sample String : 'p'
Expected Result : Empty String

</pre>

In [33]:
str = input("enter string: ")
if len(str)>=2:
    print(str[:2]+str[-2:len(str)])
else:
    print("Empty String")

enter string: tamar
taar

<pre>
4.  qWrite a program to create a new string made of an input string’s:
first, middle, and last character.
Sample String : 'Tamar'
Expected Result : ‘Tmr’
the middle three characters of an input string.
Sample String : 'Tamar'
Expected Result : ‘ama’

</pre>

In [1]:
str = input("enter string: ")
print("first, middle, and last character: ",str[0]+str[len(str)//2]+str[-1] )
print("the middle three characters of an input string: ",str[(len(str)//2)-1]+str[len(str)//2]+str[(len(str)//2)+1] )

enter string: Tamar
first, middle, and last character:  Tmr
the middle three characters of an input string:  ama

<pre>
5. Write a program to calculate the sum of series up to n term.
For example, if n =5 the series will become 
2 + 22 + 222 + 2222 + 22222 = 24690
</pre>

In [51]:
num = input("enter n term: ")
sum=0
for i in range(1,int(num)+1):
   sum+=int("2"*i)
    
print(sum)

enter n term: 5
24690

<pre>
6. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']
</pre>

In [1]:
ls = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(ls)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [4]:
newls=[x for (i,x) in enumerate(ls) if i not in (0,4,5)]

In [5]:
print(newls)

['Green', 'White', 'Black']

In [6]:
for (i,x) in enumerate(ls):
    if i not in (0,4,5):
        print(x)

Green
White
Black

<pre>
7. Write a program to create a new list based on a list of fruits, containing only the fruits with the letter "a" in the name:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
Expected Output : ['apple', 'banana', 'mango']
* try to do all that with only one line of code
</pre>

In [73]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [74]:
nl  = []

In [76]:
for f in fruits:
    if "a" in f:
        nl.append(f)
        
print(nl)

['apple', 'banana', 'mango']

In [80]:
nl = [f for f in fruits if  "a" in f]
print(nl)

['apple', 'banana', 'mango']

<pre>
8.  Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.
Sample Lists:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
Expected Output : 
Element at odd-index positions from list one: [6, 12, 18]
Element at even-index positions from list two: [4, 12, 20, 28]
Printing Final third list: [6, 12, 18, 4, 12, 20, 28]

</pre>

In [2]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [18]:
l3=[x for (i,x) in enumerate(l1) if (i%2 != 0)] + [x for (i,x) in enumerate(l2) if (i%2 == 0)]

In [19]:
l3

[6, 12, 18, 4, 12, 20, 28]

<pre>
9.  Write a program to create a Fibonacci Sequence.
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first numbers are 0 and 1.
Expected output:
Fibonacci sequence: 0  1  1  2  3  5  8  13  21  34
</pre>

In [25]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

<pre>
10.  Write a program  to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys. 
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
</pre>

In [27]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}